/bin/**
/fact.elijah.h
/doc/
eljc*out
/out/
target
/output/
/target-/
/COMP*/
/.idea/workspace.xml
/.idea/gitlab-quickmr.xml
/.gradle
/build
/el-fluffy-jubilee.userlibraries
elijah-lang*txt
/lib/**
/.idea/**
/*/build/
/.bsp/
/elijah-core/bin/**
/elijah-core.test/COMP/**
/gh-congenial-robot/test-bin/**
/test-bin/**
**/*.iml
/RosettaTest::em1
/RosettaTest::result
/RosettaTest::xm1
